div #sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 60px);
}

h1{
    margin: 24px;
    padding: 14px;
    width: 1098px;
    display: flex; 
    justify-content: center;
    border-radius: 8px;
}

.sobre-container{
    width: 1098px;
    height: calc(100vh - 40px);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobre-container p{
    padding: 14px;
    width: 1098px;
    display: flex; 
    justify-content: center;
    border-radius: 8px;
}

.sobre-container li{
    list-style: none;
    padding: 4px 8px;
}