header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    padding: 0 40px;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
}

.header-container{
    width: 1098px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    justify-items: center;
}

.logo{
    text-decoration: none;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

nav{
    width: 1098px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.menu li{
    list-style: none;
}
.menu a{
    text-decoration: none;
    color: white;
}

.menu a:hover{
    color: #116feb;
}

.favoritos{
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 5px 14px;
    border-radius: 4px;
    width: 150px;
}

.favoritos:hover{
    background-color: #116feb;
    color: white;
}